<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>itemList</title>
  <link rel="stylesheet" href="../../../static/css//track/itemList.css">
</head>

<body>

  <div class="container">
    <div class="container-con">
      <div class="track">
        <div class="track-filters">
          <h1 class="tracks">Tracks</h1>
          <div class="option">
            <div class="filters">
              <select class="filter" name="tracks-filter" id="tracks-filter">
                <option value="">All Bpm</option>
                <option value="63">63</option>
                <option value="72">72</option>
                <option value="85">85</option>
                <option value="93">93</option>
                <option value="122">122</option>
              </select>
            </div>
            <div class="filters">
              <select class="filter" name="tracks-filter" id="tracks-filter">
                <option value="">All Genres</option>
                <option value="Rnb">Rnb</option>
                <option value="New Soul">New Soul</option>
                <option value="Pop">Pop</option>
                <option value="Hip Hop">Hip Hop</option>
                <option value="Trap">Trap</option>
                <option value="Old School">Old School</option>
              </select>
            </div>
            <div class="filters">
              <select class="filter" name="tracks-filter" id="tracks-filter">
                <option value="">Newest</option>
                <option value="Default">Default</option>
                <option value="Relevance">Relevance</option>
              </select>
            </div>
          </div>
          <div class="search-bar">
            <img src="../../../static/img/tracks/search.png" alt="search-icon">
            <input type="search" name="search" id="search" placeholder="What type of track are you looking for?">
          </div>
        </div>
      </div>
    </div>
    <div class="item-con">
      <div class="item">
        <div class="item-filter">
          <ul>
            <li>TITLE</li>
            <li>TIME</li>
            <li>BPM</li>
            <li>TAGS</li>
          </ul>
        </div>
        <div class="items">
          <ul th:each="list: ${itemDtoList}">
            <li><img src="../../../static/img/tracks/music.png" alt="대체아이콘"></li>
            <li th:text="${list.itemName}">Hover</li>
            <li th:text="${list.duration}">03:07</li>
            <li th:text="${list.bpm}">103</li>
            <li th:text="${list.producer}"><a th:href="@{#}">max</a></li>
            <li th:text="${list.genre}"><a th:href="@{#}">mixtape seoul</a></li>
            <li><a th:href="@{#}"><img src="../../../static/img/tracks/share.png" alt="share-icon"></a></li>
            <li th:text="${list.price}"><a th:href="@{#}"><img src="../../../static/img/tracks/shopping-bag.png"
                  alt="shopping-bag-icon">$29.95</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</body>

</html>