<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title th:text="${detail.title}"></title>
  <link rel="stylesheet" th:href="@{/css/detailView.css}">
</head>

<body>
  <div class="container">
    <div class="container-con">
      <div class="board-con">

        <div class="boardview">
          <div class="title">
            <h3 th:text="${detail.title}">제목</h3>
          </div>
          <div class="write-info">
            <div class="writer">
              <img th:src="@{/img/board/usericon.png}" alt="">
              <span th:text="${detail.writer}">작성자</span>
            </div>
            <span th:text="*{#temporals.format(detail.createTime, 'HH:mm:ss')}">작성시간</span>
          </div>
          <div class="content" th:text="${detail.content}">내용</div>
          <img th:src="@{|/upload/${detail.newName}|}" alt="">
        </div>

        <div class="btns">
          <div class="like">
            <input type="button" value="🤍 I LIKE IT">
          </div>
          <div class="btns-sub">
            <div class="back">
              <a th:href="@{/board/}">BACK</a>
            </div>
            <div class="memberonly" sec:authorize="hasAnyRole('ADMIN','MEMBER')">
              <!--안 먹음-->
              <!--th:if="${#authentication.principal.userName} == ${detail.userName}"-->
              <a th:href="@{|/board/update/${detail.no}|}">MODIFY</a>
              <a th:href="@{|/board/delete/${detail.no}|}">DELETE</a>
            </div>
          </div>

        </div>

      </div>

      <!--댓글창 붙이기-->
    </div>
  </div>
</body>

</html>