<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>COMMUNITY</title>
  <link rel="stylesheet" th:href="@{/css/list.css}">
</head>

<body>
  <!-- <div th:replace="~{/pages/common/Header :: header}"></div> -->

  <div class="container">
    <div class="container-con">

      <div class="title">
        <!--페이지 타이틀-->
        <h1>Community</h1>
      </div>

      <div class="boardview">
        <div class="boardinfo">
          <ul>
            <li>NO</li>
            <li>TITLE</li>
            <li>WHO?</li>
            <li>HIT</li>
            <li>TIME</li>
          </ul>
        </div>

        <div class="boardlist">
          <th:block th:each="list: ${boardList}">
            <ul>
              <!--글 목록-->
              <li th:text="${list.no}"></li>
              <li>
                <a th:text="${list.title}" th:href="@{|/board/detail/${list.no}|}"></a>
              </li>
              <li th:text="${list.writer}"></li>
              <li th:text="${list.view}"></li>
              <li th:text="*{#temporals.format(list.createTime, 'HH:mm:ss')}"></li>
            </ul>
          </th:block>
        </div>
      </div>

      <div class="container-end">
        <div class="end-item">
          <!--페이징 인덱스, 검색창-->
          <a th:href="@{/board/write}">WRITE</a>
          <form action="#" method="get">
            <select name="" id="">
              <option value="title">제목</option>
              <option value="writer">작성자</option>
            </select>
            <input type="text" name="search" id="search" class="searchtext" placeholder="Search">
            <input type="image" th:src="@{/img/searchicon.png}" alt="" class="submitbtn">
          </form>
        </div>
      </div>

    </div>
  </div>

  <!-- <div th:replace="~{/pages/common/Footer :: footer}"></div> -->
</body>

</html>