<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>WRITE</title>
  <link rel="stylesheet" href="/static/css/write.css">
</head>

<body>
  <div class="container">
    <div class="container-con">

      <div class="write-form">
        <!--유효성 검사 작업 추가 필요-->
        <!--th:if / th:errors-->
        <!--제목이랑 내용에 추가하기-->
        <form action="" method="post">
          <ul>
            <li class="li1">
              <input type="text" name="title" id="title" placeholder="TITLE">
            </li>

            <li class="li2">
              <img src="/static/img/board/youtubeicon.png" alt="youtube-icon">
              <input type="url" name="youtube" id="youtube" placeholder="youtube url" class="li2sub">

              <label>
                <img src="/static/img/board/foldericon.png" alt="folder-icon"> FILE
                <input type="file" name="file" id="file" class="li2sub2" style="display: none;">
              </label>
            </li>

            <li class="li3">
              <textarea name="content" id="content" cols="30" rows="10" placeholder=""></textarea>
            </li>

            <li class="li4">
              <a href="">BACK</a>
              <input type="submit" value="WRITE" class="write">
            </li>
          </ul>
        </form>
      </div>

    </div>
  </div>
</body>

</html>