@import url(../css/common/reset.css);

/* tracks */

.container {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container .container-con {
	width: 1166px;
}
.container .container-con .track {
	width: 100%;
}
.container .container-con .track-filters {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container .container-con .track-filters h1.tracks {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size: 40px;
	padding: 30px 0;
	box-sizing: border-box;
	letter-spacing: 2px;
}
.container .container-con .track-filters .option {
	display: flex;
	justify-content: center;
	flex-direction: row;
}
.container .container-con .track-filters select {
	width: 305px;
	height: 40px;
	border-radius: 3px;
	background-color: #000000;
	color: #ffffff;
	font-size: 13px;
	font-weight: bold;
	padding: 0 8px;
	box-sizing: border-box;
	margin-right: 5px;
}
.container .container-con .track-filters .search-bar {
	width: 80%;
	background-color: #ffffff;
	box-shadow: 0 1px 3px #cccccc;
	height: 40px;
	margin-top: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container .container-con .track-filters .search-bar img {
	height: 20px;
	width: 20px;
}
.container .container-con .track-filters .search-bar input {
	width: 50%;
	height: 100%;
	border: none;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.container .container-con .track-filters .search-bar input::placeholder {
	font-size: 15px;
	text-align: center;
	opacity: 0.65;
}
.container .item-con {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.container .item-con .item {
	width: 1166px;
	text-align: center;
	padding: 30px;
	box-sizing: border-box;
}
.container .item-con .item .item-filter ul {
	height: 30px;
	display: flex;
}
.container .item-con .item .item-filter ul li {
	width: 100%;
	height: 30px;
	font-size: 11px;
	font-weight: 600;
	letter-spacing: 2px;
	opacity: 0.65;
	/* text-align: center; */
	display: flex;
}
.container .item-con .item .item-filter ul li:nth-child(1) {
	flex: 2;
	display: flex;
	justify-content: center;
	padding: 0 170px 0 30px;
	box-sizing: border-box;
}
.container .item-con .item .item-filter ul li:nth-child(2) {
	flex: 2;
	margin-left: 50px;
	display: flex;
	justify-content: center;
}
.container .item-con .item .item-filter ul li:nth-child(3) {
	flex: 1;
	display: flex;
	justify-content: flex-start;
}
.container .item-con .item .item-filter ul li:nth-child(4) {
	flex: 3;
	display: flex;
	justify-content: flex-start;
	margin-right: 270px;
}
.container .item-con .item .items {
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.container .item-con .item .items ul {
	width: 100%;
	height: 60px;
	display: flex;
	margin-top: 30px;
	align-items: center;
	border-bottom: 1px solid #cccccc;
	box-sizing: border-box;
}
.container .item-con .item .items ul li {
	font-size: 15px;
	font-weight: 600;
}
.container .item-con .item .items ul li:nth-child(1) {
	flex: 1;
	padding: 20px;
}
.container .item-con .item .items ul li:nth-child(1) img {
	width: 40px;
}
.container .item-con .item .items ul li:nth-child(2) {
	flex: 2;
	display: flex;
	height: 40px;
	line-height: 40px;
	padding: 0 320px 0 0px;
}
.container .item-con .item .items ul li:nth-child(3) {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	margin-right: 45px;
}
.container .item-con .item .items ul li:nth-child(4) {
	flex: 1;
	height: 40px;
	line-height: 40px;
	padding: 0 40px 0 0;
}
.container .item-con .item .items ul li:nth-child(5) {
	flex: 1;
	display: flex;
	height: 40px;
	line-height: 40px;
	padding: 0;
}
.container .item-con .item .items ul li:nth-child(5) a {
	width: 50px;
	box-shadow: 0 1px 3px #cccccc;
	border-radius: 15px;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0 5px;
}
.container .item-con .item .items ul li:nth-child(5) a:hover {
	text-decoration: underline;
}
.container .item-con .item .items ul li:nth-child(6) {
	width: auto;
	flex: 1;
	display: flex;
	height: 40px;
	line-height: 40px;
	padding: 0 150px 0 10px;
}
.container .item-con .item .items ul li:nth-child(6) a {
	width: 110px;
	height: 40px;
	box-shadow: 0 1px 3px #cccccc;
	border-radius: 15px;
	line-height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0 5px;
}
.container .item-con .item .items ul li:nth-child(6) a:hover {
	text-decoration: underline;
}
.container .item-con .item .items ul li:nth-child(7) {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	padding: 0 10px;
}
.container .item-con .item .items ul li:nth-child(7) a {
	width: 35px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 1px 3px #cccccc;
	border-radius: 3px;
	line-height: 40px;
}
.container .item-con .item .items ul li:nth-child(7) a img {
	width: 15px;
}
.container .item-con .item .items ul li:nth-child(8) {
	flex: 1;
	height: 40px;
	width: auto;
	line-height: 40px;
	background-color: #000000;
	border-radius: 3px;
	line-height: 40px;
	margin-right: 200px;
}
.container .item-con .item .items ul li:nth-child(8) a {
	width: 100px;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container .item-con .item .items ul li:nth-child(8) a img {
	width: 15px;
	height: 15px;
	line-height: 15px;
	margin-right: 10px;
}
