<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Main Index</title>
  <link rel="stylesheet" th:href="@{/css/member/main.css}">
  <script src="/static/js/main/main.js" defer></script>
  <script src="/static/js/common/header.js" defer></script>
  <script src="/static/js/common/footer.js" defer></script>
</head>

<body>

<div class="header" th:insert="/pages/common/header :: header"></div>

<div class="main">
  <div class="main-con">
    <div class="imageChange">
      <ul class="imageChange-con">
        <li><a href="#"></a></li>
        <!-- <li><a href="#"><img src="/static/img/main/main1.jpg" alt="main2"></a></li> -->
        <!-- <li><a href="#"><img src="/static/img/main/main2.jpg" alt="main2"></a></li> -->
        <!-- <li><a href="#"><img src="/static/img/main/main3.jpg" alt="main3"></a></li> -->
        <!-- <li><a href="#"><img src="/static/img/main/main4.jpg" alt="main4"></a></li> -->
      </ul>
      <div class="albumShortInfo-con">
        <ul class="albumShortInfo">
          <li id="title">How deep is your love</li>
          <li id="singer">Calvin Harris & Disciples</li>
        </ul>
      </div>
      <div class="change-controller">
        <div class="changebuttons">
          <div>
            <button type="button">
              <div id="t1"></div>
              <div id="t2"></div>
            </button>
            <button type="button">
              <div id="show"></div>
            </button>
            <button type="button">
              <div id="f1"></div>
              <div id="f2"></div>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="itemsList">
      <div class="itemsList-column">
        <ul>
          <li id="col-album"></li>
          <li id="col-title">
            <div>title</div>
          </li>
          <li id="col-time">
            <div>time</div>
          </li>
          <li id="col-bpm">
            <div>bpm</div>
          </li>
          <li id="col-tags">
            <div>tags</div>
          </li>
        </ul>
      </div>
      <div class="itemsList-content">
        <ul>
          <li id="con-album"><img src="/static/img/Main/album-img.png" alt="album1"></li>
          <li id="con-title">
            <div>Hover</div>
          </li>
          <li id="con-time">
            <div>03:07</div>
          </li>
          <li id="con-bpm">
            <div>103</div>
          <li id="con-tags">
            <div>
              <ul>
                <li>max</li>
                <li>mixtapeseoul</li>
              </ul>
            </div>
          </li>
          <li id="con-price">
            <div>$29.95</div>
          </li>
        </ul>
      </div>
      <div class="itemsList-content">
        <ul>
          <li id="con-album"><img src="/static/img/Main/album-img.png" alt="album1"></li>
          <li id="con-title">
            <div>Hover</div>
          </li>
          <li id="con-time">
            <div>03:07</div>
          </li>
          <li id="con-bpm">
            <div>103</div>
          <li id="con-tags">
            <div>
              <ul>
                <li>max</li>
                <li>mixtapeseoul</li>
              </ul>
            </div>
          </li>
          <li id="con-price">
            <div>$29.95</div>
          </li>
        </ul>
      </div>
      <div class="itemsList-content">
        <ul>
          <li id="con-album"><img src="/static/img/Main/album-img.png" alt="album1"></li>
          <li id="con-title">
            <div>Hover</div>
          </li>
          <li id="con-time">
            <div>03:07</div>
          </li>
          <li id="con-bpm">
            <div>103</div>
          <li id="con-tags">
            <div>
              <ul>
                <li>max</li>
                <li>mixtapeseoul</li>
              </ul>
            </div>
          </li>
          <li id="con-price">
            <div>$29.95</div>
          </li>
        </ul>
      </div>
      <div class="itemsList-content">
        <ul>
          <li id="con-album"><img src="/static/img/Main/album-img.png" alt="album1"></li>
          <li id="con-title">
            <div>Hover</div>
          </li>
          <li id="con-time">
            <div>03:07</div>
          </li>
          <li id="con-bpm">
            <div>103</div>
          <li id="con-tags">
            <div>
              <ul>
                <li>max</li>
                <li>mixtapeseoul</li>
              </ul>
            </div>
          </li>
          <li id="con-price">
            <div>$29.95</div>
          </li>
        </ul>
      </div>
      <div class="itemsList-content">
        <ul>
          <li id="con-album"><img src="/static/img/Main/album-img.png" alt="album1"></li>
          <li id="con-title">
            <div>Hover</div>
          </li>
          <li id="con-time">
            <div>03:07</div>
          </li>
          <li id="con-bpm">
            <div>103</div>
          <li id="con-tags">
            <div>
              <ul>
                <li>max</li>
                <li>mixtapeseoul</li>
              </ul>
            </div>
          </li>
          <li id="con-price">
            <div>$29.95</div>
          </li>
        </ul>
      </div>
      <div class="itemsList-content">
        <ul>
          <li id="con-album"><img src="/static/img/Main/album-img.png" alt="album1"></li>
          <li id="con-title">
            <div>Hover</div>
          </li>
          <li id="con-time">
            <div>03:07</div>
          </li>
          <li id="con-bpm">
            <div>103</div>
          <li id="con-tags">
            <div>
              <ul>
                <li>max</li>
                <li>mixtapeseoul</li>
              </ul>
            </div>
          </li>
          <li id="con-price">
            <div>$29.95</div>
          </li>
        </ul>
      </div>
      <div class="itemsList-content">
        <ul>
          <li id="con-album"><img src="/static/img/Main/album-img.png" alt="album1"></li>
          <li id="con-title">
            <div>Hover</div>
          </li>
          <li id="con-time">
            <div>03:07</div>
          </li>
          <li id="con-bpm">
            <div>103</div>
          <li id="con-tags">
            <div>
              <ul>
                <li>max</li>
                <li>mixtapeseoul</li>
              </ul>
            </div>
          </li>
          <li id="con-price">
            <div>$29.95</div>
          </li>
        </ul>
      </div>
      <div class="itemsList-content">
        <ul>
          <li id="con-album"><img src="/static/img/Main/album-img.png" alt="album1"></li>
          <li id="con-title">
            <div>Hover</div>
          </li>
          <li id="con-time">
            <div>03:07</div>
          </li>
          <li id="con-bpm">
            <div>103</div>
          <li id="con-tags">
            <div>
              <ul>
                <li>max</li>
                <li>mixtapeseoul</li>
              </ul>
            </div>
          </li>
          <li id="con-price">
            <div>$29.95</div>
          </li>
        </ul>
      </div>
      <div class="itemsList-content">
        <ul>
          <li id="con-album"><img src="/static/img/Main/album-img.png" alt="album1"></li>
          <li id="con-title">
            <div>Hover</div>
          </li>
          <li id="con-time">
            <div>03:07</div>
          </li>
          <li id="con-bpm">
            <div>103</div>
          <li id="con-tags">
            <div>
              <ul>
                <li>max</li>
                <li>mixtapeseoul</li>
              </ul>
            </div>
          </li>
          <li id="con-price">
            <div>$29.95</div>
          </li>
        </ul>
      </div>
      <div class="itemsList-content">
        <ul>
          <li id="con-album"><img src="/static/img/Main/album-img.png" alt="album1"></li>
          <li id="con-title">
            <div>Hover</div>
          </li>
          <li id="con-time">
            <div>03:07</div>
          </li>
          <li id="con-bpm">
            <div>103</div>
          <li id="con-tags">
            <div>
              <ul>
                <li>max</li>
                <li>mixtapeseoul</li>
              </ul>
            </div>
          </li>
          <li id="con-price">
            <div>$29.95</div>
          </li>
        </ul>
      </div>
      <div class="itemsList-content">
        <ul>
          <li id="con-album"><img src="/static/img/Main/album-img.png" alt="album1"></li>
          <li id="con-title">
            <div>Hover</div>
          </li>
          <li id="con-time">
            <div>03:07</div>
          </li>
          <li id="con-bpm">
            <div>103</div>
          <li id="con-tags">
            <div>
              <ul>
                <li>max</li>
                <li>mixtapeseoul</li>
              </ul>
            </div>
          </li>
          <li id="con-price">
            <div>$29.95</div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>

<div class="footer" th:insert="/pages/common/footer :: footer"></div>

</body>

</html>