<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/admin/trackInsert.css">
  <script src="../../../static/js/track/trackInsert.js" defer></script>
  <title>TrackInsert</title>
</head>

<div class="container">
  <div class="container-con">
    <div class="box">
      <div class="track-con">
        <div class="track-name1">
          <label>Attach pictures</label>
          <div class="file">
            <input type="file">
          </div>
        </div>
        <div class="img"></div>
        <div class="track-name">
          <label>title</label>
          <input type="text">
        </div>
        <div class="track-name">
          <label>duration</label>
          <input type="text" name="itemName" id="itemName">
        </div>
        <div class="track-name">
          <label>bpm</label>
          <select name="bpm" id="bpm">
            <option value="">Select bpm ...</option>
            <option value="63">63</option>
            <option value="75">75</option>
            <option value="81">81</option>
            <option value="97">97</option>
            <option value="108">108</option>
            <option value="126">126</option>
          </select>
        </div>
        <div class="track-name">
          <label>producer</label>
          <input type="text">
        </div>
        <div class="track-name">
          <label>genre</label>
          <input type="text">
        </div>
        <div class="track-name">
          <label>price</label>
          <input type="text">
        </div>
        <div class="button">
          <button type="submit">Registration</button>
        </div>
      </div>
    </div>
  </div>

</div>

</body>

</html>