<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="/static/js/header.js" defer></script>
</head>

<div class="header" th:insert="/pages/common/Header :: header">
    <div class="header-con" th:fragment="header">
        <div class="gnb">
            <div class="logo"><a th:href="@{/home}"><img src="/static/img/head/infinity.png" alt="LogoImage"></a>
            </div>
            <div class="main-menu-con">
                <ul>
                    <li>
                        <div class="li-con">
                            <div class="left-menu">
                                <ul>
                                    <li><a th:href="@{/page/main}">Tracks</a></li>
                                    <li><a th:href="@{/#}">Works</a></li>
                                    <li><a th:href="@{/#}">FAQ</a></li>
                                    <li><a th:href="@{/#}">About</a></li>
                                    <li><a th:href="@{/#}">Contact</a></li>
                                </ul>
                            </div>
                            <div class="right-menu hide">
                                <input type="text" id="searchBar" size="68" placeholder="Search beats">
                            </div>
                        </div>
                        <div class="img">
                            <button>
                                <img src="/static/img/head/magnifier.png" alt="searchImg" id="magnifier">
                            </button>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a th:href="@{/#}">
                                <img src="/static/img/head/shopping-bag.png" alt="shoppingBag">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a th:href="@{/#}">
                                <img src="/static/img/head/login.png" alt="login">
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
