<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Main Index</title>
    <link rel="stylesheet" href="/static/css/main/main.css">
    <script src="/static/js/main/main.js" defer></script>
    <script src="/static/js/common/header.js" defer></script>
    <script src="/static/js/common/footer.js" defer></script>
</head>

<body>

    <div class="header" th:insert="/pages/common/Header :: header">
        <div class="header-con" th:fragment="header">
            <div class="gnb">
                <div class="logo"><a th:href="@{/home}"><img src="/static/img/common/head/infinity.png" alt="LogoImage"></a>
                </div>
                <div class="main-menu-con">
                    <ul>
                        <li>
                            <div class="li-con">
                                <div class="left-menu">
                                    <ul>
                                        <li><a th:href="@{/page/itemList}">Tracks</a></li>
                                        <li><a th:href="@{/#}">Works</a></li>
                                        <li><a th:href="@{/#}">FAQ</a></li>
                                        <li><a th:href="@{/#}">About</a></li>
                                        <li><a th:href="@{/#}">Contact</a></li>
                                    </ul>
                                </div>
                                <div class="right-menu hide2">
                                    <input type="text" id="searchBar" size="68" placeholder="Search beats">
                                </div>
                            </div>
                            <div class="s-img">
                                <img src="/static/img/common/head/magnifier.png" alt="searchImg" id="magnifier">
                            </div>
                        </li>
                        <li class="li-last">
                            <a th:href="@{/#}">
                                <img src="/static/img/common/head/shopping-bag.png" alt="shoppingBag">
                            </a>
                            <a th:href="@{/#}">
                                <img src="/static/img/common/head/login.png" alt="login">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="main">
        <div class="main-con">
            <div class="imageChange">
                <ul class="imageChange-con">
                    <li><a href="#"></a></li>
                    <!-- <li><a href="#"><img src="/static/img/main/main1.jpg" alt="main2"></a></li> -->
                    <!-- <li><a href="#"><img src="/static/img/main/main2.jpg" alt="main2"></a></li> -->
                    <!-- <li><a href="#"><img src="/static/img/main/main3.jpg" alt="main3"></a></li> -->
                    <!-- <li><a href="#"><img src="/static/img/main/main4.jpg" alt="main4"></a></li> -->
                </ul>
                <div class="albumShortInfo-con">
                    <ul class="albumShortInfo">
                        <li id="title">How deep is your love</li>
                        <li id="singer">Calvin Harris & Disciples</li>
                    </ul>
                </div>
                <div class="change-controller">
                    <div class="changebuttons">
                        <div>
                            <button type="button">
                                <div id="t1"></div>
                                <div id="t2"></div>
                            </button>
                            <button type="button">
                                <div id="show"></div>
                            </button>
                            <button type="button">
                                <div id="f1"></div>
                                <div id="f2"></div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="itemsList">
                <div class="itemsList-column">
                    <ul>
                        <li id="col-album"></li>
                        <li id="col-title">
                            <div>title</div>
                        </li>
                        <li id="col-time">
                            <div>time</div>
                        </li>
                        <li id="col-bpm">
                            <div>bpm</div>
                        </li>
                        <li id="col-tags">
                            <div>tags</div>
                        </li>
                    </ul>
                </div>
                <div class="itemsList-content">
                    <ul>
                        <li id="con-album"><img src="/static/img/Main/album-img.png" alt="album1"></li>
                        <li id="con-title">
                            <div>Hover</div>
                        </li>
                        <li id="con-time">
                            <div>03:07</div>
                        </li>
                        <li id="con-bpm">
                            <div>103</div>
                        <li id="con-tags">
                            <div>
                                <ul>
                                    <li>max</li>
                                    <li>mixtapeseoul</li>
                                </ul>
                            </div>
                        </li>
                        <li id="con-price">
                            <div>$29.95</div>
                        </li>
                    </ul>
                </div>
                <div class="itemsList-content">
                    <ul>
                        <li id="con-album"><img src="/static/img/Main/album-img.png" alt="album1"></li>
                        <li id="con-title">
                            <div>Hover</div>
                        </li>
                        <li id="con-time">
                            <div>03:07</div>
                        </li>
                        <li id="con-bpm">
                            <div>103</div>
                        <li id="con-tags">
                            <div>
                                <ul>
                                    <li>max</li>
                                    <li>mixtapeseoul</li>
                                </ul>
                            </div>
                        </li>
                        <li id="con-price">
                            <div>$29.95</div>
                        </li>
                    </ul>
                </div>
                <div class="itemsList-content">
                    <ul>
                        <li id="con-album"><img src="/static/img/Main/album-img.png" alt="album1"></li>
                        <li id="con-title">
                            <div>Hover</div>
                        </li>
                        <li id="con-time">
                            <div>03:07</div>
                        </li>
                        <li id="con-bpm">
                            <div>103</div>
                        <li id="con-tags">
                            <div>
                                <ul>
                                    <li>max</li>
                                    <li>mixtapeseoul</li>
                                </ul>
                            </div>
                        </li>
                        <li id="con-price">
                            <div>$29.95</div>
                        </li>
                    </ul>
                </div>
                <div class="itemsList-content">
                    <ul>
                        <li id="con-album"><img src="/static/img/Main/album-img.png" alt="album1"></li>
                        <li id="con-title">
                            <div>Hover</div>
                        </li>
                        <li id="con-time">
                            <div>03:07</div>
                        </li>
                        <li id="con-bpm">
                            <div>103</div>
                        <li id="con-tags">
                            <div>
                                <ul>
                                    <li>max</li>
                                    <li>mixtapeseoul</li>
                                </ul>
                            </div>
                        </li>
                        <li id="con-price">
                            <div>$29.95</div>
                        </li>
                    </ul>
                </div>
                <div class="itemsList-content">
                    <ul>
                        <li id="con-album"><img src="/static/img/Main/album-img.png" alt="album1"></li>
                        <li id="con-title">
                            <div>Hover</div>
                        </li>
                        <li id="con-time">
                            <div>03:07</div>
                        </li>
                        <li id="con-bpm">
                            <div>103</div>
                        <li id="con-tags">
                            <div>
                                <ul>
                                    <li>max</li>
                                    <li>mixtapeseoul</li>
                                </ul>
                            </div>
                        </li>
                        <li id="con-price">
                            <div>$29.95</div>
                        </li>
                    </ul>
                </div>
                <div class="itemsList-content">
                    <ul>
                        <li id="con-album"><img src="/static/img/Main/album-img.png" alt="album1"></li>
                        <li id="con-title">
                            <div>Hover</div>
                        </li>
                        <li id="con-time">
                            <div>03:07</div>
                        </li>
                        <li id="con-bpm">
                            <div>103</div>
                        <li id="con-tags">
                            <div>
                                <ul>
                                    <li>max</li>
                                    <li>mixtapeseoul</li>
                                </ul>
                            </div>
                        </li>
                        <li id="con-price">
                            <div>$29.95</div>
                        </li>
                    </ul>
                </div>
                <div class="itemsList-content">
                    <ul>
                        <li id="con-album"><img src="/static/img/Main/album-img.png" alt="album1"></li>
                        <li id="con-title">
                            <div>Hover</div>
                        </li>
                        <li id="con-time">
                            <div>03:07</div>
                        </li>
                        <li id="con-bpm">
                            <div>103</div>
                        <li id="con-tags">
                            <div>
                                <ul>
                                    <li>max</li>
                                    <li>mixtapeseoul</li>
                                </ul>
                            </div>
                        </li>
                        <li id="con-price">
                            <div>$29.95</div>
                        </li>
                    </ul>
                </div>
                <div class="itemsList-content">
                    <ul>
                        <li id="con-album"><img src="/static/img/Main/album-img.png" alt="album1"></li>
                        <li id="con-title">
                            <div>Hover</div>
                        </li>
                        <li id="con-time">
                            <div>03:07</div>
                        </li>
                        <li id="con-bpm">
                            <div>103</div>
                        <li id="con-tags">
                            <div>
                                <ul>
                                    <li>max</li>
                                    <li>mixtapeseoul</li>
                                </ul>
                            </div>
                        </li>
                        <li id="con-price">
                            <div>$29.95</div>
                        </li>
                    </ul>
                </div>
                <div class="itemsList-content">
                    <ul>
                        <li id="con-album"><img src="/static/img/Main/album-img.png" alt="album1"></li>
                        <li id="con-title">
                            <div>Hover</div>
                        </li>
                        <li id="con-time">
                            <div>03:07</div>
                        </li>
                        <li id="con-bpm">
                            <div>103</div>
                        <li id="con-tags">
                            <div>
                                <ul>
                                    <li>max</li>
                                    <li>mixtapeseoul</li>
                                </ul>
                            </div>
                        </li>
                        <li id="con-price">
                            <div>$29.95</div>
                        </li>
                    </ul>
                </div>
                <div class="itemsList-content">
                    <ul>
                        <li id="con-album"><img src="/static/img/Main/album-img.png" alt="album1"></li>
                        <li id="con-title">
                            <div>Hover</div>
                        </li>
                        <li id="con-time">
                            <div>03:07</div>
                        </li>
                        <li id="con-bpm">
                            <div>103</div>
                        <li id="con-tags">
                            <div>
                                <ul>
                                    <li>max</li>
                                    <li>mixtapeseoul</li>
                                </ul>
                            </div>
                        </li>
                        <li id="con-price">
                            <div>$29.95</div>
                        </li>
                    </ul>
                </div>
                <div class="itemsList-content">
                    <ul>
                        <li id="con-album"><img src="/static/img/Main/album-img.png" alt="album1"></li>
                        <li id="con-title">
                            <div>Hover</div>
                        </li>
                        <li id="con-time">
                            <div>03:07</div>
                        </li>
                        <li id="con-bpm">
                            <div>103</div>
                        <li id="con-tags">
                            <div>
                                <ul>
                                    <li>max</li>
                                    <li>mixtapeseoul</li>
                                </ul>
                            </div>
                        </li>
                        <li id="con-price">
                            <div>$29.95</div>
                        </li>
                    </ul>
                </div>
            
            </div>
        </div>
    </div>

    <div class="footer" th:insert="/pages/common/Footer :: footer">
        <div class="footer-con">
            <div class="detail-con">
                <div class="logo">
                    <a href="">
                        <h1>Logo</h1>
                    </a>
                </div>

                <ul class="contactInfo">
                    <li>
                        <ul>
                            <li><a th:href="@{#}">Home</a></li>
                            <li><a th:href="@{#}">Tracks</a></li>
                            <li><a th:href="@{#}">Works</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li><a th:href="@{#}">FAQ</a></li>
                            <li><a th:href="@{#}">About</a></li>
                            <li><a th:href="@{#}">Contact</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li><a th:href="@{#}">Licensing Info</a></li>
                            <li><a th:href="@{#}">Terms of use</a></li>
                            <li><a th:href="@{#}">Privacy policy</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="socialContactPoint">
                    <li><a href="{#}" target="_blank"><img src="/static/img/common/footer/facebook.png" alt="facebook"></a>
                    </li>
                    <li><a href="{#}" target="_blank"><img src="/static/img/common/footer/youtube.png" alt="youtube"></a>
                    </li>
                    <li><a href="{#}" target="_blank"><img src="/static/img/common/footer/instagram.png" alt="instagram"></a>
                    </li>
                    <li><a href="{#}" target="_blank"><img src="/static/img/common/footer/soundcloud.png" alt="soundcloud"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</body>

</html>