<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Main Index</title>
    <link rel="stylesheet" href="/static/css/MainIndex.css">
    <script src="/static/js/MainIndex.js" defer></script>
    <script src="/static/js/header.js" defer></script>
    <script src="/static/js/footer.js" defer></script>
</head>

<body>

    <div class="header" th:insert="/pages/common/Header :: header">
        <div class="header-con" th:fragment="header">
            <div class="gnb">
                <div class="logo"><a th:href="@{/home}"><img src="/static/img/head/infinity.png" alt="LogoImage"></a>
                </div>
                <div class="main-menu-con">
                    <ul>
                        <li>
                            <div class="li-con">
                                <div class="left-menu">
                                    <ul>
                                        <li><a th:href="@{/page/main}">Tracks</a></li>
                                        <li><a th:href="@{/#}">Works</a></li>
                                        <li><a th:href="@{/#}">FAQ</a></li>
                                        <li><a th:href="@{/#}">About</a></li>
                                        <li><a th:href="@{/#}">Contact</a></li>
                                    </ul>
                                </div>
                                <div class="right-menu hide">
                                    <input type="text" id="searchBar" size="68" placeholder="Search beats">
                                </div>
                            </div>
                            <div class="img">
                                <button>
                                    <img src="/static/img/head/magnifier.png" alt="searchImg" id="magnifier">
                                </button>
                            </div>
                        </li>
                        <li>
                            <a th:href="@{/#}">
                                <img src="/static/img/head/shopping-bag.png" alt="shoppingBag">
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/#}">
                                <img src="/static/img/head/login.png" alt="login">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="main">

    </div>

    <div class="footer" th:insert="/pages/common/Footer :: footer">
        <div class="footer-con">
            <div class="detail-con">
                <div class="logo">
                    <a href="">
                        <h1>Logo</h1>
                    </a>
                </div>

                <ul class="contactInfo">
                    <li>
                        <ul>
                            <li><a th:href="@{#}">Home</a></li>
                            <li><a th:href="@{#}">Tracks</a></li>
                            <li><a th:href="@{#}">Works</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li><a th:href="@{#}">FAQ</a></li>
                            <li><a th:href="@{#}">About</a></li>
                            <li><a th:href="@{#}">Contact</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li><a th:href="@{#}">Licensing Info</a></li>
                            <li><a th:href="@{#}">Terms of use</a></li>
                            <li><a th:href="@{#}">Privacy policy</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="socialContactPoint">
                    <li><a href="{#}" target="_blank"><img src="/static/img/footer/facebook.png" alt="facebook"></a>
                    </li>
                    <li><a href="{#}" target="_blank"><img src="/static/img/footer/youtube.png" alt="youtube"></a></li>
                    <li><a href="{#}" target="_blank"><img src="/static/img/footer/instagram.png" alt="instagram"></a>
                    </li>
                    <li><a href="{#}" target="_blank"><img src="/static/img/footer/soundcloud.png" alt="soundcloud"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</body>

</html>