@import url(/static/css/common/reset.css);


/* 전체 글자 크기를 0.6rem으로 정해놓아서, height: auto 설정에 따라
높이를 맞추었다.
*/
.leftNavBarCon .leftNavBarCon-lists{
    width: auto;
    height: auto;
    padding-top: 20px;
    font-size: 0.6rem;
    display: flex;
    flex-direction: column;
}
.leftNavBarCon .leftNavBarCon-lists>*{
    height: auto;
    padding: 5px;
    width: auto;
}
.leftNavBarCon .leftNavBarCon-lists>*>*:nth-child(1){
    font-size: 20px;
    color: white;
    padding-bottom: 5px;
}
.leftNavBarCon .leftNavBarCon-lists>*>*:nth-child(2){
    padding-left: 50px;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px; */
}
.leftNavBarCon .leftNavBarCon-lists>*>*:nth-child(2) li{
    display: flex;
    align-items: center;
    /* padding: 4px 4px; */
}
.leftNavBarCon .leftNavBarCon-lists>*>*:nth-child(2) li a{
    color:rgb(236, 236, 236, 0.87);
}