@import url(/static/css/common/reset.css);
@import url(/static/css/admin/adminHeader.css);
@import url(/static/css/admin/adminLeftNavContainer.css);

/* Admin 페이지에서는 adminArtistHeader, 메인, footer의 row-gap을 줄인다. */
body{
    row-gap: 0;
}

.adminMain{
    width: 100%;
    height: auto;
}
.adminMain .adminMain-con{
    width: 100%;
    height: auto;
    position: relative;
}

.adminMain .adminMain-con .leftNavBarCon{
    position: fixed;
    height: auto;
    z-index: 1;
    bottom: -1000px;
    top: 50px;
    left: 0;
    font-size: 1rem;
    background-color: rgba(2, 2, 2, 0.70);
}

.adminMain .adminMain-con .rightShowContainer{
    position: absolute;
    left: 232.43px;
    right: 40px;
    top: 70px;
    z-index: 1;
}