@import url(/static/css/common/reset.css);
@import url(/static/css/admin/adminHeader.css);
@import url(/static/css/admin/adminLeftNavContainer.css);

/* Admin 페이지에서는 adminArtistHeader, 메인, footer의 row-gap을 줄인다. */
body{
    row-gap: 0;
}

.adminMain{
    width: 100%;
    height: 100%;
}
.adminMain .adminMain-con{
    width: 100%;
    height: 100%;
    display: flex;
}

.adminMain .adminMain-con .leftNavBarCon{
    flex:1;
    height: 100%;
    background-color: rgba(2, 2, 2, 0.70);
    font-size: 0.85rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.adminMain .adminMain-con .rightShowContainer{
    flex: 6;
    margin-left: 260.09px;
    position: absolute;
    z-index: 1;
    top: 50px;
    padding: 20px 40px;
}