@import url(common/reset.css);

/* container */
.container{
  border: 0px solid;
  box-sizing: border-box;
}
.container .join{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container .join .join-form{
  /* width: 100%;
  max-width: 500px;
  margin: 0 auto;
  border: 0px solid;
  box-sizing: border-box; */
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  border: 4px inset ;
  box-sizing: border-box;
  border-radius: 20px;
}
/* 테이블 */
.container .join .join-form ul{
  display: flex;
  flex-direction: column;
  border: 0px solid;
  box-sizing: border-box;
  gap: 40px;
}
.container .join .join-form ul li.s1{
  color: #080101;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}
.container .join .join-form ul li.s2{
  width: auto;
  padding: 15px;
  font-size: 20px;
}
.container .join .join-form ul li span.error_next_box{
color: rgb(214, 32, 15);
}
.container .join .join-form ul li.s3{
  text-align: center;
}
.container .join .join-form ul li.s4{
 text-align: center;
}
.container .join .join-form ul li input.joinOk{
  font-size: 20px;
  width: 50%;
  margin: auto;
  display: block;
  border: 0;
  outline: none;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}