<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>itemList</title>
  <link rel="stylesheet" href="/css/track/trackList.css">
</head>

<body>

  <div class="container">
    <div class="container-con">
      <div class="track">
        <div class="track-filters">
          <h1 class="tracks">Tracks</h1>
          <div class="option">
            <div class="filters">
              <select class="filter" name="tracks-filter" id="tracks-filter">
                <option value="">All Bpm</option>
                <option value="63">63</option>
                <option value="75">75</option>
                <option value="81">81</option>
                <option value="97">97</option>
                <option value="108">108</option>
                <option value="126">126</option>
              </select>
            </div>
            <div class="filters">
              <select class="filter" name="tracks-filter" id="tracks-filter">
                <option value="">All Genres</option>
                <option value="Rnb">Rnb</option>
                <option value="Soul">Soul</option>
                <option value="Pop">Pop</option>
                <option value="Funk">Funk</option>
                <option value="Trap">Trap</option>
                <option value="Reggae">Reggae</option>
              </select>
            </div>
            <div class="filters">
              <select class="filter" name="tracks-filter" id="tracks-filter">
                <option value="">Newest</option>
                <option value="Default">Default</option>
                <option value="Relevance">Relevance</option>
              </select>
            </div>
          </div>
          <form th:action="@{/trackList/search}" method="get">
            <div class="search-bar">
              <img src="/img/track/search.png" alt="search-icon">
              <input type="search" name="search" id="search" class="s1"
                placeholder="What type of track are you looking for?">
              <input type="submit" class="s2" value="search">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="item-con">
      <div class="item">
        <div class="item-filter">
          <ul>
            <li>TITLE</li>
            <li>TIME</li>
            <li>BPM</li>
            <li>PRODUCER</li>
            <li>GENRE</li>
          </ul>
        </div>
        <div class="items">
          <ul th:each="list: ${itemDtoPage}">
            <li><img src="/img/track/music.png" alt=""></li>
            <a th:href="@{|/trackDetail/${list.no}|}">
              <li th:text="${list.title}"></li>
            </a>
            <li th:text="${list.duration}"></li>
            <li th:text="${list.bpm}"></li>
            <li th:text="${list.producer}"></li>
            <li th:text="${list.genre}"></li>
            <li><a th:href="@{#}"><img src="/img/track/shopping-bag.png" alt="shopping-bag-icon"></a>
              <div th:text="${list.price}"></div>
            </li>
          </ul>
        </div>
        <div class="paging">
          <a th:href="${itemDtoPage.first} ? '#' : @{/trackList(page=${itemDtoPage.number-1})}">
            << </a>
              <th:block th:each="page: ${#numbers.sequence(startPage, endPage)}">
                <span th:if="${page == nowPage}" th:text="${page}" th:classappend="class1"
                  style="color: #000000;"></span>
                <span th:unless="${page == nowPage}">
                  <a th:href="@{/trackList(page=${page-1})}" style="color: #00000059;" th:text="${page}"></a>
                </span>
              </th:block>
              <a th:href="${itemDtoPage.last} ? '#' : @{/trackList(page=${itemDtoPage.number + 1})}">>></a>
        </div>
      </div>
    </div>
  </div>

</body>

</html>