<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/admin/adminLeftNavContainer.css">
    <title>Document</title>
</head>

<body>
    <div class="leftNavBarCon">
        <div class="leftNavBarCon-lists">
            <div class="track-con">
                <div class="track-con-title">Track &#x21e9;</div>
                <ul id="track-con-lists">
                    <li><a href="#">- Track Insert page</a></li>
                    <li><a href="#">- Track Update page</a></li>
                    <li><a href="#">- Track Lists page</a></li>
                    <li><a href="#">- Track Delete page</a></li>
                </ul>
            </div>
            <div class="board-con">
                <div class="board-con-title">Board &#x21e9;</div>
                <ul id="board-con-lists">
                    <li><a href="#">- Board Insert page</a></li>
                    <li><a href="#">- Board Update page</a></li>
                    <li><a href="#">- Board Lists page</a></li>
                    <li><a href="#">- Board Delete page</a></li>
                </ul>
            </div>
            <div class="members-con">
                <div class="members-con-title">Members &#x21e9;</div>
                <ul id="members-con-lists">
                    <li><a href="#">- Members Insert page</a></li>
                    <li><a href="#">- Members Update page</a></li>
                    <li><a href="#">- Members Lists page</a></li>
                    <li><a href="#">- Members Delete page</a></li>
                </ul>
            </div>
            <div class="FAQ-con">
                <div class="FAQ-con-title">FAQ &#x21e9;</div>
                <ul id="FAQ-con-lists">
                    <li><a href="#">- FAQ Insert page</a></li>
                    <li><a href="#">- FAQ Update page</a></li>
                    <li><a href="#">- FAQ Lists page</a></li>
                    <li><a href="#">- FAQ Delete page</a></li>
                </ul>
            </div>
            <div class="Employees">
                <div class="Employees-con-title">Employees &#x21e9;</div>
                <ul id="Employees-con-lists">
                    <li><a href="#">- Naver Workspace</a></li>
                    <li><a href="#">- Employees Insert page</a></li>
                    <li><a href="#">- Employees Update page</a></li>
                    <li><a href="#">- Employees Lists page</a></li>
                    <li><a href="#">- Employees Delete page</a></li>
                </ul>
            </div>
            <div class="AdminInfo-con">
                <div class="AdminInfo-con-title">AdminInfo &#x21e9;</div>
                <ul id="AdminInfo-con-lists">
                    <li><a href="#">- AdminInfo Insert page</a></li>
                    <li><a href="#">- AdminInfo Update page</a></li>
                    <li><a href="#">- AdminInfo Lists page</a></li>
                    <li><a href="#">- AdminInfo Delete page</a></li>
                </ul>
            </div>
        </div>
</body>

</html>