@import url('reset.css');

.comment {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.comment .comment-con {
    box-sizing: border-box;
    padding: 20px;
    width: 583px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Input comment */
.comment .comment-con .commentInputCon{
    width: 1166px;
}

.comment .comment-con .commentInputCon .commentInput{
    width: 100%;
    display: flex;
    padding: 0;
}
.comment .comment-con .commentInputCon .commentInput>li:nth-child(1){
    flex: 5 40px;
    list-style: none;   
    display: flex;
    justify-content: center;
}
.comment .comment-con .commentInputCon .commentInput>li:nth-child(1) textarea{   
    width: 100%;
    border: none;
    border: 1px solid gray;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    box-sizing: border-box;
    font-family: "Poppins", 'Helvetica', sans-serif;
    font-size: 15px;
    /* height: 80px; */
    display: block;
    word-break:break-all;
    resize: none;
    padding: 10px;
}
.comment .comment-con .commentInputCon .commentInput>li:nth-child(2){
    list-style: none;
    flex-basis: 100px;
    display: flex;
}
.comment .comment-con .commentInputCon .commentInput>li:nth-child(2) button{
    border: none;
    width: 100%;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    box-sizing: border-box;
    font-family: "Poppins", 'Helvetica', sans-serif;
    color: white;
    font-size: 15px;
    background-color: gray;
}


/* Comments columns */
.comment .comment-con .comment-data {
    width: 1166px;
    display: flex;
    flex-direction: column;
}
.comment .comment-con .comment-data .comment-column{
    flex-grow: 1;
    display: flex;
    width: 100%;
    padding: 0;
    border-bottom: 3px solid lightgray;
}

.comment .comment-con .comment-data .comment-column .column{
    flex-grow: 1;
    width: 100%;
    padding: 0;
    display: flex;
}

.comment .comment-con .comment-data .comment-column .column>li:nth-child(1) {
    display: flex;
    flex: 1;
    justify-content: center;
}
.comment .comment-con .comment-data .comment-column .column>li:nth-child(2) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 5;
    /* padding: 0 0 0 100px; */
}
.comment .comment-con .comment-data .comment-column .column>li:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

/* Comments lists*/
.comment .comment-con .comment-data .comment-lists{
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.comment .comment-con .comment-data .comment-lists .lists{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.6px solid lightgray;
    padding: 0;
}

.comment .comment-con .comment-data .comment-lists .lists>li:nth-child(1) {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.comment .comment-con .comment-data .comment-lists .lists>li:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    flex: 5;
}
.comment .comment-con .comment-data .comment-lists .lists>li:nth-child(3) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 20px;
    flex: 1;
}
.comment .comment-con .comment-data .comment-lists .lists>li {
    /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
    box-sizing: border-box;
    font-family: "Poppins", 'Helvetica', sans-serif;
    font-size: 15px;
}

.comment .comment-con .comment-data .comment-lists .lists>li:nth-child(3)>div{
    width: 100%;
    word-break:break-all;
}


.hide1{
    visibility: hidden;
    transition: all .4s cubic-bezier(1,0,0,1);;
}