@import url(common/reset.css);

.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  /* border: 1px solid; */
}

.container .container-con {
  margin: 40px;
  flex: 0 0 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  /* border: 1px solid #ff0000; */
}

.container .container-con .board-con {
  width: 500px;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* border: 1px solid #0000ff; */
}

.container .container-con .board-con .boardview {
  width: inherit;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  /* border: 1px solid; */
}

.container .container-con .board-con .boardview .title {
  width: inherit;
  margin: 0 0 15px 0;
  font-family: "Poppins", Helvetica, sans-serif;
}

.container .container-con .board-con .boardview .write-info {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: smaller;
  border-bottom: 1px solid #b7b7b7;
  margin: 0 0 10px 0;
  padding: 5px;
  box-sizing: border-box;
}

.container .container-con .board-con .boardview .write-info .writer {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}

.container .container-con .board-con .boardview .write-info .writer>img {
  width: 20px;
  height: 20px;
}

.container .container-con .board-con .boardview .content {
  padding: 10px;
  box-sizing: border-box;
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: medium;
}

.container .container-con .board-con .btns .like {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.container .container-con .board-con .btns .like>input {
  width: 85px;
  line-height: 25px;
  border-radius: 5px 5px 5px 5px;
  border: none;
  background-color: black;
  color: #ffffff;
  transition: 0.3s;
}

.container .container-con .board-con .btns .like>input:hover {
  cursor: pointer;
  background-color: #e4e4e4;
  color: black;
}

.container .container-con .board-con .btns .btns-sub {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.container .container-con .board-con .btns .btns-sub .back {
  border: none;
  width: 70px;
  line-height: 30px;
  text-align: center;
  border-radius: 3px 3px 3px 3px;
  background-color: black;
  box-sizing: border-box;
}

.container .container-con .board-con .btns .btns-sub .back>a {
  color: #ffffff;
  font-size: small;
  font-weight: bold;
}

.container .container-con .board-con .btns .memberonly {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.container .container-con .board-con .btns .memberonly>a {
  border: none;
  width: 70px;
  line-height: 30px;
  text-align: center;
  border-radius: 3px 3px 3px 3px;
  background-color: black;
  color: #ffffff;
  font-size: small;
  font-weight: bold;
}