<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/common/header.css">
    <link rel="stylesheet" href="/static/css/common/footer.css">
    <link rel="stylesheet" href="/static/css/common/reset.css">
    <link rel="stylesheet" href="/static/css/member/infoEdit.css">
    <script src="/static/js/header.js" defer></script>
    <script src="/static/js/footer.js" defer></script>
</head>
<body>
    <div class="header" th:insert="/pages/common/Header :: header">
        <div class="header-con" th:fragment="header">
            <div class="gnb">
                <div class="logo"><a th:href="@{/home}"><img src="/static/img/head/infinity.png" alt="LogoImage"></a>
                </div>
                <div class="main-menu-con">
                    <ul>
                        <li>
                            <div class="li-con">
                                <div class="left-menu">
                                    <ul>
                                        <li><a th:href="@{/page/main}">Tracks</a></li>
                                        <li><a th:href="@{/#}">Works</a></li>
                                        <li><a th:href="@{/#}">FAQ</a></li>
                                        <li><a th:href="@{/#}">About</a></li>
                                        <li><a th:href="@{/#}">Contact</a></li>
                                    </ul>
                                </div>
                                <div class="right-menu hide">
                                    <input type="text" id="searchBar" size="68" placeholder="Search beats">
                                </div>
                            </div>
                            <div class="img">
                                <button>
                                    <img src="/static/img/head/magnifier.png" alt="searchImg" id="magnifier">
                                </button>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a th:href="@{/#}">
                                    <img src="/static/img/head/shopping-bag.png" alt="shoppingBag">
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a th:href="@{/#}">
                                    <img src="/static/img/head/login.png" alt="login">
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="container-con">
            <h1 class="logo">Edit My Infomation</h1>
            <div class="accont-row">
                
                <div class="row-text">
                    <label>E-mail address</label> <br>
                    <span> th:email</span>
                </div>

                <div class="row-text">
                    <label>Username</label> <br>
                    <input class="info-text" type="text"  value="th:name">
                </div>

                <div class="row-text">
                    <label>Phone-number</label> <br>
                    <input class="info-text" type="text"  value="th:010-1111-1111">
                </div>

                <div class="row-text">
                    <label>Password</label> <br>
                    <input class="info-text" type="password"  value="00000000">
                </div>
                <div class="row-text">
                    <label class="address">Billing address</label> <br>
                    <input class="info-text" type="text" readonly  value="none">
                </div>
                <div class="row-text">
                    <label class="address">Shipping address</label> <br>
                    <input class="info-text" type="text" readonly  value="none">
                </div>
                <div class="user-up">
                    <button><a href="#">회원수정</a></button>
                    
                </div>
                
            </div>
        </div>
    </div>

    <div class="footer" th:insert="/pages/common/Footer :: footer">
        <div class="footer-con">
            <div class="detail-con">
                <div class="logo">
                    <a href="">
                        <h1>Logo</h1>
                    </a>
                </div>

                <ul class="contactInfo">
                    <li>
                        <ul>
                            <li><a th:href="@{#}">Home</a></li>
                            <li><a th:href="@{#}">Tracks</a></li>
                            <li><a th:href="@{#}">Works</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li><a th:href="@{#}">FAQ</a></li>
                            <li><a th:href="@{#}">About</a></li>
                            <li><a th:href="@{#}">Contact</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li><a th:href="@{#}">Licensing Info</a></li>
                            <li><a th:href="@{#}">Terms of use</a></li>
                            <li><a th:href="@{#}">Privacy policy</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="socialContactPoint">
                    <li><a href="{#}" target="_blank"><img src="/static/img/footer/facebook.png" alt="facebook"></a></li>
                    <li><a href="{#}" target="_blank"><img src="/static/img/footer/youtube.png" alt="youtube"></a></li>
                    <li><a href="{#}" target="_blank"><img src="/static/img/footer/instagram.png" alt="instagram"></a></li>
                    <li><a href="{#}" target="_blank"><img src="/static/img/footer/soundcloud.png" alt="soundcloud"></a></li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>