<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MemberList</title>
  <link rel="stylesheet" href="/static/css/admin/memberList.css">
</head>
<div class="container">
  <div class="container-con">
    <div class="list">
      <div class="title">
        <h1>Member List</h1>
      </div>
      <div class="list-con">
        <div class="grid">
          <div class="grid-child">
            <div class="list-top">
              <img src="/static/img/admin/profile.png" alt="프로필이미지">
            </div>
            <div class="list-bottom">
              <div class="bottom-left">
                <p>email</p>
                <p>address</p>
                <p>userName</p>
                <p>phone</p>
              </div>
              <div class="bottom-right">
                <ul th:each="">
                  <li th:text="${}">h1@email.com</li>
                  <li th:text="${}">Sanggye-dong, Nowon-gu, Seoul</li>
                  <li th:text="${}">h1</li>
                  <li th:text="${}">010-1111-1111</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="grid-child">
            <div class="list-top">
              <img src="/static/img/admin/profile.png" alt="프로필이미지" style="width: 125px; height:125px;">
            </div>
            <div class="list-bottom">
              <div class="bottom-left">
                <p>email</p>
                <p>address</p>
                <p>userName</p>
                <p>phone</p>
              </div>
              <div class="bottom-right">
                <ul th:each="">
                  <li th:text="${}">h1@email.com</li>
                  <li th:text="${}">Sanggye-dong, Nowon-gu, Seoul</li>
                  <li th:text="${}">h1</li>
                  <li th:text="${}">010-1111-1111</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="grid-child">
            <div class="list-top">
              <img src="/static/img/admin/profile.png" alt="프로필이미지" style="width: 125px; height:125px;">
            </div>
            <div class="list-bottom">
              <div class="bottom-left">
                <p>email</p>
                <p>address</p>
                <p>userName</p>
                <p>phone</p>
              </div>
              <div class="bottom-right">
                <ul th:each="">
                  <li th:text="${}">h1@email.com</li>
                  <li th:text="${}">Sanggye-dong, Nowon-gu, Seoul</li>
                  <li th:text="${}">h1</li>
                  <li th:text="${}">010-1111-1111</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="grid-child">
            <div class="list-top">
              <img src="/static/img/admin/profile.png" alt="프로필이미지" style="width: 125px; height:125px;">
            </div>
            <div class="list-bottom">
              <div class="bottom-left">
                <p>email</p>
                <p>address</p>
                <p>userName</p>
                <p>phone</p>
              </div>
              <div class="bottom-right">
                <ul th:each="">
                  <li th:text="${}">h1@email.com</li>
                  <li th:text="${}">Sanggye-dong, Nowon-gu, Seoul</li>
                  <li th:text="${}">h1</li>
                  <li th:text="${}">010-1111-1111</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="grid-child">
            <div class="list-top">
              <img src="/static/img/admin/profile.png" alt="프로필이미지" style="width: 125px; height:125px;">
            </div>
            <div class="list-bottom">
              <div class="bottom-left">
                <p>email</p>
                <p>address</p>
                <p>userName</p>
                <p>phone</p>
              </div>
              <div class="bottom-right">
                <ul th:each="">
                  <li th:text="${}">h1@email.com</li>
                  <li th:text="${}">Sanggye-dong, Nowon-gu, Seoul</li>
                  <li th:text="${}">h1</li>
                  <li th:text="${}">010-1111-1111</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="grid-child">
            <div class="list-top">
              <img src="/static/img/admin/profile.png" alt="프로필이미지" style="width: 125px; height:125px;">
            </div>
            <div class="list-bottom">
              <div class="bottom-left">
                <p>email</p>
                <p>address</p>
                <p>userName</p>
                <p>phone</p>
              </div>
              <div class="bottom-right">
                <ul th:each="">
                  <li th:text="${}">h1@email.com</li>
                  <li th:text="${}">Sanggye-dong, Nowon-gu, Seoul</li>
                  <li th:text="${}">h1</li>
                  <li th:text="${}">010-1111-1111</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="grid-child">
            <div class="list-top">
              <img src="/static/img/admin/profile.png" alt="프로필이미지" style="width: 125px; height:125px;">
            </div>
            <div class="list-bottom">
              <div class="bottom-left">
                <p>email</p>
                <p>address</p>
                <p>userName</p>
                <p>phone</p>
              </div>
              <div class="bottom-right">
                <ul th:each="">
                  <li th:text="${}">h1@email.com</li>
                  <li th:text="${}">Sanggye-dong, Nowon-gu, Seoul</li>
                  <li th:text="${}">h1</li>
                  <li th:text="${}">010-1111-1111</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="grid-child">
            <div class="list-top">
              <img src="/static/img/admin/profile.png" alt="프로필이미지" style="width: 125px; height:125px;">
            </div>
            <div class="list-bottom">
              <div class="bottom-left">
                <p>email</p>
                <p>address</p>
                <p>userName</p>
                <p>phone</p>
              </div>
              <div class="bottom-right">
                <ul th:each="">
                  <li th:text="${}">h1@email.com</li>
                  <li th:text="${}">Sanggye-dong, Nowon-gu, Seoul</li>
                  <li th:text="${}">h1</li>
                  <li th:text="${}">010-1111-1111</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="grid-child">
            <div class="list-top">
              <img src="/static/img/admin/profile.png" alt="프로필이미지" style="width: 125px; height:125px;">
            </div>
            <div class="list-bottom">
              <div class="bottom-left">
                <p>email</p>
                <p>address</p>
                <p>userName</p>
                <p>phone</p>
              </div>
              <div class="bottom-right">
                <ul th:each="">
                  <li th:text="${}">h1@email.com</li>
                  <li th:text="${}">Sanggye-dong, Nowon-gu, Seoul</li>
                  <li th:text="${}">h1</li>
                  <li th:text="${}">010-1111-1111</li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<body>

</body>

</html>